<ion-header [translucent]="true">
 <app-menu></app-menu>
</ion-header>

<ion-content [fullscreen]="true">
 <img src="https://i.pinimg.com/474x/7a/37/fb/7a37fbbf3f334782d9459d737bbae0bd.jpg" alt="">
 <ion-card class="action-card">
  
  <ion-card-header>
   
    <ion-card-title>Crear Cuenta</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   si quiere ser repartidor, en nuestra compania tendra que llenar el siguiente formulario
   
  </ion-card-content>
  <ion-button expand="full" color="dark">Crear Usuario</ion-button>
</ion-card>

<ion-card class="action-card">
  
  <ion-card-header>
   
    <ion-card-title>Buscar Pedidos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   La entrega de pedidos se vera aca, para pagar tendra dos metodos; efectivo y Mercado Pago
   
  </ion-card-content>
  <ion-button expand="full" color="dark">Ver mis pedidos</ion-button>
</ion-card>
</ion-content>
